.add-subject-main {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.subjects-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.subject-container {
  // cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  justify-content: space-around;
  border-radius: 0.5rem;
}

.subjects-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.subjects-add-container {
  background-color: var(--bg-color-alt);
  padding: 1rem;
}

.subject-header {
  .form-item-add {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item-input {
    width: 20rem;
  }
}