.add-subject-main {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.subjects-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.subject-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  justify-content: space-around;
  border-radius: 0.5rem;
  background-color: var(--box-bg-color);
  &:hover {
    background-color: var(--box-bg-color-hover); 
  }
  &:active {
    background-color: var(--box-bg-color-active);
  }
}

.subjects-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.subjects-add-container {
  background-color: var(--bg-color-alt);
  padding: 1rem;
}

.subject-header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.item-search {
  display: flex;
  position: relative;
}

.input-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  padding: 0 0.875rem;
  color: var(--icon-color-alt);
}

.item-input {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.button-clear {
  svg {
    width: 1.25rem;
    height: 1.25rem;
  }
  right: 0;
  padding: 0 0.875rem;
}