.add-subject-main {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.subjects-grid {
  display: grid;
}

.subjects-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.subjects-add-container {
  background-color: var(--bg-color-alt);
  padding: 1rem;
}