.modal-overlay {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-blackA5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.2s;

  .modal-content {
    padding: 1.5rem;
    background-color: var(--bg-color-alt);
    max-width: 27rem;
    width: 100%;
    border-radius: 0.5rem;
    position: relative;

    .modal-header {
      .modal-title {
        font-weight: 600;
        font-size: 1.25rem;
      }

      .x-button {
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;
      }
    }

    .modal-body {
      padding-top: 1.5rem;
      .add-sub-input {
        width: 100%;
        padding: 0 1rem;
      }
      .input-error {
        border-color: var(--error-color);
        &:hover {
          border-color: var(--error-color-hover);
        }
        &:focus {
          border-color: var(--error-color);
        }
      }
      .modal-error-message {
        min-height: 1.5rem;
        margin: 0.5rem 0 0.5rem 0.3rem;
        color: var(--error-color);
        font-size: 0.875rem;
      }
    }

    .modal-footer {
      display: flex;
      justify-content: flex-end;
    }
  }
}
