:root {
  --color-black: #000;
  --color-blackA5: rgba(0, 0, 0, 0.5);
  --color-light: #ccc;
  --color-lightblue: #2277dd;
  --color-lightblue2: #1166cc;
  --color-dark: #333;
  --color-red: #ee3344;
  --color-red2: #dd4455;
  --color-white: #fff;
  --color-whiteA1: rgba(255, 255, 255, 0.1);
  --color-whiteA2: rgba(255, 255, 255, 0.2);
  --color-whiteA3: rgba(255, 255, 255, 0.3);
  --color-whiteA4: rgba(255, 255, 255, 0.4);
}

* {
  box-sizing: border-box;
}

html {
  font-family: system-ui, sans-serif;
  --bg-color-alpha: var(--color-blackA5);
}

html[data-theme="light"] {
  --color: var(--color-black);
  --bg-color: var(--color-white);
  --bg-color-alt: var(--color-light);
}

html[data-theme="dark"] {
  --color: var(--color-white);
  --bg-color: var(--color-black);
  --bg-color-alt: var(--color-dark);
  --border-color: var(--color-whiteA2);
  --border-hover-color: var(--color-whiteA3);
  --error-color: var(--color-red);
  --error-color-hover: var(--color-red2);
  --iconButtonSquare-bg-color: var(--color-whiteA1);
  --iconButtonSquare-bg-color-alt: var(--color-whiteA2);
  --iconButtonCircle-bg-color: var(--color-whiteA2);
  --iconButtonCircle-bg-color-alt: var(--color-whiteA3);
  --modalPriButton-bg-color: var(--color-lightblue);
  --modalPriButton-bg-color-hover: var(--color-lightblue2);
  --modalAltButton-bg-color-hover: var(--color-whiteA1);
  --placeholder-color: var(--color-whiteA3);
  --placeholder-hover-color: var(--color-whiteA4);
}

body {
  margin: 0;
  padding: 0;
  color: var(--color);
  background-color: var(--bg-color);
}

button {
  color: var(--color);
  font-size: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

h1 {
  margin: 0;
}

.input {
  border: 2px solid var(--border-color);
  transition-property: border-color, color;
  transition-duration: 0.15s;
}

.input::placeholder {
  color: var(--placeholder-color);
}

.input:hover::placeholder {
  color: var(--placeholder-hover-color);
}

.input:hover {
  border-color: var(--border-hover-color);
}

.input:focus {
  border-color: #2277dd;
}

.input:focus::placeholder {
  color: var(--placeholder-hover-color);
}

.input-lg {
  outline: none;
  font-size: 1.125rem;
  padding: 0 1rem;
  height: 3rem;
  background-color: transparent;
  border-radius: 0.5rem;
  color: var(--color);
}
