@import "tailwindcss";

@theme {
  --font-display: sans-serif, ui-sans-serif, system-ui, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

* {
  box-sizing: border-box;
  transition: background-color 0.2s ease, opacity 0.2s ease;
  font-family: var(--font-display);
}

.dark {
  background: #000;
  color: #fff;
}

input {
  outline: none;
}

input:focus {
  box-shadow: none;
}

button {
  cursor: pointer;
}
